.back {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    z-index: 1;
}

.modal {
    z-index: 10;
    background-color: #ffffff;
    max-width: 619px;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.wrap {
    padding: 30px;
    display: flex;
    justify-content: flex-start;

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 100%;
    margin-right: 14px;

    input {
        padding: 8px 1px;
        margin-top: 20px;
    }

    button {
        background-color: #4997D0;
        color: #ffffff;
        padding: 8px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }

    img {
        height: 300px;
    }
}

.comments {
    display: flex;
    flex-direction: column;
}

.close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    transform: translate(90%, -90%);
    bottom: 90%;
    left: 90%;

    @media (max-width: 768px) {
        bottom: 0;
        left: 70%;
    }

    .item {
        width: 2px;
        height: 30px;
        background-color: #4997D0;
        transform: rotate(45deg) translate(14px, -1px);

        &:nth-child(2) {
            transform: rotate(-45deg) translate(22px, -7px);
        }
    }
}
